body{
    text-align:center;
}
#asteSantu1{
    width: 70%;
    height:auto;
    margin:auto;
}

#asteSantu2{
    width: 100%;
    height:auto;
    margin:auto;
}
#gabonak1{
    width: 100%;
    height:auto;
    margin:auto;
}

#gabonak2{
    width: 70%;
    height:auto;
    margin:auto;
}
p{
    color: #fff;
}