.container{
	width: 100%;
}

.navbar{
	background-color: black;
}

.nav.navbar-nav li a{
	color: white;
}

.nav.navbar-nav li{
	background-color:#00A005;
}


/*imagen logo*/
#brand-image{
	max-height: 100%;
    height: 100%;
}

