.container{
	width: 100%;
}

.navbar{
	background-color: black;
}

.nav.navbar-nav li a{
	color: white;
}

.nav.navbar-nav li{
	background-color:blue;
	color:blue;
}

navbar-nav>.open>a:focus 
{ background-color: green}